<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form product</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div th:replace="fragment/header :: header"></div>

    <div th:replace="fragment/navigation :: nav"></div>

    <form  th:action="@{/products}" th:object="${product}" method="POST">
        <input type="text" th:field="*{productCode}">

        <input type="text" th:field="*{productName}">

        <button type="submit">add</button>
    </form>

    <br>
    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>