<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ini halaman</title>

    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
   <div th:replace="fragment/navigation :: nav"></div>

    <h2>Product List</h2>
    <a th:href="@{ products/add }">Add</a>
    <table>
        <thead>
            <th>id</th>
            <th>Product Code</th>
            <th>Product Name</th>
        </thead>
        <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${ product.id }"></td>
                <td th:text="${ product.productCode }"></td>
                <td th:text="${ product.productName }"></td>
            </tr>
        </tbody>
    </table>
    <br>
   <div th:replace="fragment/footer :: footer"></div>
</body>
</html>